.banner-h1{
    color:#FABE4C;
}
h1{
    font-weight: 700;
    font-family: fantasy;
}
.header{
    background-color:#FFFBF0;
}
.navtext{
     font-family: 'Lobster', cursive;
}

.header-section{
    height: 600px;
}
.jacket-card-footer{
    border: 0;
    background-color: white;
}
h3{
    color: #FABE4C;
    font-weight: 700;
}
.img-radius{
    border-radius: 10px;
}
.sellcard{
    border: 0px;
    border-radius: 10px;
}
@media only screen and (max-width: 600px){
    .mediaforman{
        margin-top: 450px;
    }
}
@media only screen and (max-width: 600px){
.mediacol{
        width:200px;
        margin: auto;
    }
}
@media only screen and (max-width: 600px){
    .media-footer{
            margin-top: 200px;
        }
    }
@media only screen and (max-width: 600px){
        .mediatext{
                margin-top: 500px;
            }
}
@media only screen and (max-width: 600px){
    .footertextmedia{
            margin-top: 140px;
}
}
@media only screen and (max-width: 600px){
    .imgmedia{
            margin-top: 140px;
}
}
